<%include partials/header.ejs %>
<%include partials/main_nav.ejs %>
<h1><%=title%></h1>
<p>I am a principal research scientist at MindForce and a professor at the University of Rontoto.</p>
<p>My  work focuses on artificially intelligent agents based on Reinforcement Learning and Natural
   Language Processing.</p> 
   
<p>I co-led the project of <b>Sivraj</b>, an intelligent conversational AI assistant 
    that provides all-rounded informational aid to individuals. Sivraj is able to evolve and adapt to
    user's personality and personal conversations history. Sivraj has become personal assistant to more than 10 million 
    users in the world.</p>   

<p>I also led the project that developed ZetaGo, an intelligent Go playing agent that is based upon
    MindDeep's ElfaGo and uses an adaptive hypothesis-goal learning algothrim to learn. ZetaGo 
    achieved and surpassed previously invented Go agents that learned tabula-rasa, with a large reduction (10X) 
    in the computation cost incurred from self-playing.</p>

<p>You can find my resume <a href="/resume">here</a>.</p>

<img src="/assets/image/self_photo.jpg" alt="Ivan Lo" width ="350px" height="350px">


<%include partials/bottom_nav.ejs %>
<%include partials/footer.ejs %>