<%include partials/header.ejs %>
<%include partials/main_nav.ejs %>
<h1><%=title%></h1>
<p>Welcome to Ivan Lo's homepage</p>
<p>Mission: Use Reinforcement Learning to Advance Our Knowledge</p>
<p>You can read more about me at the <a href="/aboutme">About me</a> page</p>
<%include partials/bottom_nav.ejs %>
<%include partials/footer.ejs %>

