<%include partials/header.ejs %>
<%include partials/main_nav.ejs %>
<h1><%=title%></h1>
<h4 style="margin-bottom: 30px;">Below are some of my on-going projects and past projects:</h4>
<h5>ZetaGo</h5>
<img src="/assets/image/zetago.png" style="width:200px;height:200px">
<p style="width: 80rem">ZetaGo is a Go agent project that was developed together with an invention of a new algorithm 
    that can tackle sequential decision problems in a more intuition, 
    knowledge-formation based approach.
I am the leader of the project and also the principal designer of the algorithm.
</p>

<h5>Sivraj</h5>
<img src="/assets/image/sivraj.jpg" style="width:200px;height:200px">
<p style="width: 80rem">Sivraj is an AI assistant project held by MindForce. It adopts the latest transformer technology 
and reinforcement learning algorithms and is an online-learning conversational personal AI assistant.
I co-led this project with another scientist and I provided detailed implementation design to Sivraj's learning framework.
</p>

<h5>RightPace</h5>
<img src="/assets/image/education.jpg" style="width:200px;height:200px">
<p style="width: 80rem">RightPace is an education application and also a company 
   targeted to teach machine learning to learners of all ages.
I was one of the founders of the company and one of the main developers of the application. 
</p>

<%include partials/bottom_nav.ejs %>
<%include partials/footer.ejs %>