<%include partials/header.ejs %>
<%include partials/main_nav.ejs %>
<h1><%=title%></h1>
<h5>List of services provided by me:</h5>
<p>1.Tutoring reinforcement learning</p>
<p>2.Reading books to children</p>
<p>3.Coffee-drinking companion(only if treated)</p>
<p>4.Other things related to web application with no guarantee in quality</p>
<%include partials/bottom_nav.ejs %>
<%include partials/footer.ejs %>